/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/************************** global settings **************************/
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #404040;
  padding-top: 50px; /* needed to push content down below bootstrap top nav bar */
  background-color: #d0d8e0;
  background: linear-gradient(#bdf, #636) fixed;
}

#outer-container { /* overriding Bootstrap container-fluid */
  padding-left: 0;
  padding-right: 0;
}
.container-fluid .row {
  margin-left: 0;
  margin-right: 0;
}

/******************************** nav *********************************/

.navbar {
  border-bottom: 1px solid #99aabb;
  background-color: #d0d8e0;
  background: linear-gradient(#cad5e0, #adb0be);
}
#nav-ul a, #toplink-brand {
  font-size: 1.2em;
  font-weight: 500;
  /*color: #444;*/
  color: #555;
  transition: background .3s linear; /* soften the hover highlighting */
}
#toplink-brand {
  font-size: 1.3em;
}

/*#toplink-brand:hover,*/ /* re-enable when we can make brand link work */
#nav-ul a:hover { 
  background: white;
  /*border-bottom: 1px solid white;*/
}

/************************** header "section" **************************/

h1, h2, h3, h4 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px #404040;
}

header {
  padding-top: 30px;
  /*height: 820px;*/  /*800 not enuf for either bigger screen or new background image*/
}
#header:before {
  display: block; 
  content: " "; 
  margin-top: -50px; 
  height: 50px; 
  visibility: hidden; 
}
#header-btn-row {
  margin-top: 50px;
}
.header-btn {
  color: #202020;
  background-color: #d0d8e0; /* match nav bg */
  border: 1px solid #202020;
  box-shadow: 1px 1px 2px #404040;
  margin: 20px 5px;
}
.header-btn a {
  color: #202020; /* override bootstrap's blue default */
}
.header-btn:hover {
  background-color: white;
}
hr {
  border: 1px outset rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  width: 50%;
  margin-top: 30px;
}

/*************************** about/contact section  ****************************/

/*------- desktop ----------*/
.desktop-about-link {
  display: none !important;
}
#about-desktop {
  display: none !important;
}

/*------- mobile ----------*/
#about-mobile {
  color: white;
  /*color: #333;*/
  padding-top: 10px;
}
#bio-p {
  text-align: justify;
  padding: 0 20px;
}
#contact-h {
  /*padding-top: 10px;*/
  padding-bottom: 3px;
  text-align: center;
  font-size: 1.65em;
}
#contact-img {
  width: 251px;
  display: block;
  margin: 0 auto;
}

/*************************** portfolio section  ****************************/
#portfolio {
  color: white;
  padding-top: 10px;
  min-height: 640px;
}
#portfolio ul {
  padding-top: 10px;
}
#portfolio li {
  padding-bottom: 5px;
}
.app-link {
  color: white;
  text-decoration: underline;
}

/****************************** footer ********************************/
footer { /* mimics the nav bar more-or-less */
  text-align: center;
  background: linear-gradient(#cad5e0, #adb0be);
}
#tint-footer {
  padding: 10px 0; /* need to put padding here now */
  background: rgba(0,0,0,0.18);
}
footer p {
  color: #222;
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}
footer a {
  color: black;
}
  
/* eof */