@media only screen and (min-width: 1140px) {

  header, section, footer {
    max-width: 1140px;
    margin: 0 auto;
  }
  
  #units:hover {
    color: #4b91e9;
    cursor: pointer;
  }

} /* end of media query */

